<div class="cards">
    <mat-card>
        <app-card
        bg="orange"
    icon="group"
    description="Students"
    count ="2000"
        >
    
        </app-card>
        
    </mat-card>

    <mat-card>
        <app-card
        bg="red"
        icon="home"
        description="Institution"
        count ="50"
        >
        

        </app-card>
        
    </mat-card>
    <mat-card>
        <app-card 
        bg="green"
    icon="groups"
    description="Employees"
    count ="5000">
    

        </app-card>
        
    </mat-card>
    <mat-card>
        <app-card
        bg="blue"
        icon="dashboard"
        description="placements"
        count ="1000"
        >
        
        </app-card>
        
    </mat-card>


</div>


<div class="area">



    <app-area-chart></app-area-chart>
</div>

<div class="tablepie">

<div >
    <app-table></app-table>
    
</div>



<div>

    <app-pie-chart></app-pie-chart>
</div>

</div>